BOT_TOKEN=""
COMMAND_PREFIX="."
OWNER_ID=""
ADMIN_GUILD_ID=""
DATA_PATH="./data/"
DB_NAME="database.db"
LOG_LEVEL="INFO"
CONNECTION_POOL_SIZE=10
EXCLUDED_COGS="[]"
LAVALINK_URI=http://127.0.0.1:2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SERVER_YOUTUBE_YOUTUBECONFIG_EMAIL=""
LAVALINK_SERVER_YOUTUBE_YOUTUBECONFIG_PASSWORD=""
PLUGINS_LAVASRC_SPOTIFY_CLIENTID=""
PLUGINS_LAVASRC_SPOTIFY_CLIENTSECRET=""

SSH_PATH="ssh"
VS_CHAT_USER=""
VS_CHAT_KEY=""
VS_CHAT_ADDRESS=""
VS_CHAT_LOG_PATH=""
VS_CHAT_LOG_PATH=""
